@-webkit-keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg);
  			  -moz-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(180deg);
  		-moz-filter: hue-rotate(180deg); }
}
body {
	overflow: hidden;
}
.playlist-size-small {
	display: none;
}
.login-wrapper {
	display: none;
	width: calc(25vw + 26vh + 12vmin);
	height: calc(16vw + 15vh + 9vmin);

	position: absolute;
	top: -30vh;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
.splash-text {
	color: #40afc2;
    background: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
	
	font-family: 'Montserrat', sans-serif;
	font-size: calc(3vw + 3vh + 1.5vmin);
	padding: 0.5em 1em 0.5em 0;
	white-space: nowrap;
}
.login {
	color: black; 
	text-align: center;

	height: 55px;
	width: 165px;
	left: 0;
	right: 0;
	
	margin: auto;
	position: absolute;
}
.playlist-view {
	display: none;
	text-align: center;

	width: 500px;
	height: 100%;
	margin: 0 auto;

}
.playlist-title { /* heading */
	padding-bottom: 10px;
}
.playlist-title-under { /* subheading */
	padding-bottom: 10px;
}
.playlist-table {
	margin: 0 auto;
	font-size: 18px;
}
.playlist-selector { /* icons to the left of playlist names */
	border-right: 1px solid #000;
	text-shadow: 0 1px #eee;
}
.playlist-tr {
	border-bottom: 1px solid #000;
}
.playlist-td {
	padding-left: 10px;
	text-align: left;
}
.song-view {
	display: none;
}
.song-table {
	margin: 0 auto;
	font-size: 18px;
}
.song-td {

}
.song-tr {
	
}